* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --ff-primary: 'montserrat', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light1: #FFFFFF;
    --clr-light: #E5E5E5;
    --clr-dark: #303030;
    --clr-accent1: #5DF199;
    --clr-accent2: #EDFEF4;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

img {
    display: block;
}

body {
    width: 100%;
    font-family: montserrat;
}


/*NAV STYLE BEGING*/

nav {
    background: #FFFFFF;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #212429;
    font-size: 35px;
    line-height: 80px;
    padding: 13px;
    font-weight: bold;
    background: var(--clr-accent1);
    margin: 0 0 0 3em;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin: 0 6.25em 0 0;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #212429;
    font-size: var(--fs-body);
}

a.active,
a:hover {
    background: var(--clr-accent1);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: var(--clr-accent1);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}


/*NAV MEDIA QUERIES*/

@media (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--clr-accent1);
        top: 80;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: var(--clr-accent1);
    }
    #check:checked~ul {
        left: 0;
    }
    label.logo {
        color: #212429;
        font-size: 30px;
        background: var(--clr-accent1);
        margin: 0 0 0 1.7rem;
        padding: 9px;
    }
}


/*NAV STYLE ENDS*/


/*HERO STYLE BEGINNING*/

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 80px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/herobg.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;
}

.hero-cont {
    color: var(--clr-light1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-cont img {
    border: 0.5em solid #FFFFFF;
    border-radius: 50%;
    width: 17.9rem;
    margin-bottom: 1.5em;
}

.hero-cont h1 {
    width: 22.4rem;
    font-size: 3rem;
    font-size: 600;
    margin-bottom: 0.1rem;
}

.hero-cont p {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.contact-btn {
    width: 14.1rem;
    height: 3.4rem;
    background: none;
    font-size: 1.75rem;
    color: var(--clr-light1);
    border: 2px solid var(--clr-accent1);
}

@media (max-width: 1000px) {
    html {
        font-size: 76%;
    }
    .hero-pic {
        width: 15.9rem;
    }
}

@media (max-width: 650px) {
    html {
        font-size: 65%;
    }
    .hero-pic {
        width: 12.9rem;
    }
    .contact-btn {
        width: 10.1rem;
        height: 2.8rem;
        background: none;
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .hero-pic {
        width: 11.9rem;
    }
}


/*HERO STYLE ENDS*/


/*GALLERY STYLE BEGINGS*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.gallery h1 {
    text-align: center;
    font-size: 2.6rem;
    width: 12.4rem;
}

.gallery-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-accent2);
    margin: 2.5rem 0;
}

.gallery-cont ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.gallery-cont ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.gallery-cont ul li {
    padding: 0 1.7rem;
    font-size: 1.75rem;
}

.row1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row1 img {
    width: 400px;
    height: 400PX;
    padding: 0.3rem;
}


/*GALLERY STYLE ENDS*/


/*PRICING STYLE BEGINS*/

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pricing h1 {
    font-size: 2.6rem;
    width: 12.4rem;
}

.pricing-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-accent2);
    margin: 2.5rem 0;
}

.pricing-cont {
    display: flex;
    height: 75vh;
    flex-wrap: wrap;
}

.pricing-card {
    background: var(--clr-light1);
    width: 18.4rem;
    padding: 0.3rem 0.3rem 2rem 0.3rem;
    border-radius: 3%;
    display: flex;
    margin: 0 0.8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pricing-card img {
    width: 100%;
}

.pricing-card h2 {
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 41px;
    margin: 1rem;
    color: #5DF199;
}

.pricing-card h3 {
    margin: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #212429;
}

.pricing-card i {
    width: 167px;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 29px;
    border-bottom: 1px solid #212429;
    color: #212429;
    padding-bottom: 0.5rem;
}

.pricingbtn {
    background: none;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    border: 2px solid var(--clr-accent1);
}


/*PRICING STYLE ENDS*/